@import "fonts.css";
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box;
    line-height: 139%;
}

header{
    background: black;
    width: 100%;
    height: 80px;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-weight: 500;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

header .navbar a{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}
header .navbar hr{
    width: 35px;
    border: 1px solid white;
}
header .navbar-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}
header .navbar-icon a img{
    width: 30px;
    height: 30px;
}

.content{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content .offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .offer .search{
    display: flex;
    align-items: center;
}
.content .offer .search .form input{
    width: 300px;
    padding: 10px;
}
.content .offer .search .form input[type=text]{
    font-size: 14px;
    color: #8c8c8c;
    font-weight: normal;
}
.content .offer .search button{
    width: 60px;
    height: 42px;
    background-color: black;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content .offer .search button img{
    width: 25px;
    height: 25px;
}
.content .gender{
    display: flex;
    align-items: center;
    gap: 25px;
}
.content .gender p{
    border: none;
    background: none;
    color: #8c8c8c;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.content .offer .gender .selected-gr{
    color: black;
    font-weight: 500;
    text-decoration-line: underline;
}

.content .catalog{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
}
.content .catalog a{
    text-decoration: none;
    color: black;
}
.content .catalog .sale{
    color: #b42b21;
    font-weight: 500;
}
.content hr{
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(140, 140, 140, 0.24);
}
.catalog-sec{
    padding: 0 100px;
}
.catalog-sec h1{
    margin: 0;
}
.catalog-sec .sort{
    display: flex;
    align-items: center;
    gap: 30px;
}
.catalog-sec .sort form select{
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.catalog-sec .content-catalog .menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.catalog-sec .content-catalog .menu .categoria .title{
    margin: 0;
    font-weight: 600;
}
.catalog-sec .content-catalog .menu .categoria ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.catalog-sec .content-catalog .menu .categoria ul a{
    text-decoration: none;
    color: black;
    margin: 0;
}
.catalog-sec .content-catalog .menu .categoria ul a li{
    list-style: none;
}
.catalog-sec .content-catalog .flex-column{
    display: flex;
    gap: 230px;
    margin-bottom: 50px;
}
.catalog-sec .content-catalog .flex-column .orders-catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
}
.catalog-sec .content-catalog .flex-column .orders-catalog .order-catalog{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    justify-content: center;

}
.catalog-sec .content-catalog .flex-column .orders-catalog .image-order .img-order{
    width: 250px;
    height: 350px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
}
.catalog-sec .content-catalog .flex-column .orders-catalog .image-order .like{
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    margin-left: -50px;
    margin-top: 10px;
}
.catalog-sec .content-catalog .flex-column .orders-catalog .order-catalog .info-order .name{
    font-size: 20px;
}
.catalog-sec .content-catalog .flex-column .orders-catalog .order-catalog .info-order .button-basket{
    border: 1px solid black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}
footer{
    width: 100%;
    background-color: black;
    padding: 80px 100px;
}
footer .navbar{
    display: flex;
    justify-content: space-around;
}
footer .navbar .menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
footer .navbar .menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .navbar .menu .categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .navbar .menu .categories a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 14px;
}

footer .navbar .menu .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .navbar .menu .social-media img{
    width: 45px;
    height: 45px;
}